In [26]:
import pandas as pd
import numpy as np
import seaborn
import tqdm

In [6]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
merchants = pd.read_csv('data/merchants.csv')
new_merchant_transactions = pd.read_csv('data/new_merchant_transactions.csv')
histoy = pd.read_csv('data/historical_transactions.csv')

In [10]:
train.head(5)

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

In [3]:
test.head(5)

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

In [20]:
new_merchant_transactions[new_merchant_transactions['card_id'] == 'C_ID_130fd0cbdd']['purchase_amount'].sum()

-5.944698430000001

In [21]:
histoy[histoy['card_id'] == 'C_ID_130fd0cbdd']['purchase_amount'].sum()

-49.136513300000004

In [29]:
test['card_id'].values.shape

(123623,)

In [30]:
test['new'] = new_merchant_transactions[new_merchant_transactions['card_id']]['purchase_amount'].sum()

KeyError: "None of [Index(['C_ID_415bb3a509', 'C_ID_415bb3a509', 'C_ID_415bb3a509',\n       'C_ID_415bb3a509', 'C_ID_ef55cf8d4b', 'C_ID_ef55cf8d4b',\n       'C_ID_ef55cf8d4b', 'C_ID_ef55cf8d4b', 'C_ID_ef55cf8d4b',\n       'C_ID_ef55cf8d4b',\n       ...\n       'C_ID_c0dda9d36b', 'C_ID_01d35d1005', 'C_ID_611d4d588f',\n       'C_ID_0509e85404', 'C_ID_d3ad1091dc', 'C_ID_1320dee851',\n       'C_ID_f112aa3381', 'C_ID_bd97b86450', 'C_ID_c0513fd84f',\n       'C_ID_a935410f8e'],\n      dtype='object', length=1963031)] are in the [columns]"

In [55]:
new = new_merchant_transactions.groupby('card_id')['purchase_amount'].agg('sum').reset_index()
new.columns = ['card_id', 'purch']

new.head()

           card_id      purch
0  C_ID_00007093c1  -1.328524
1  C_ID_0001238066 -14.850055
2  C_ID_0001506ef0  -1.447354
3  C_ID_0001793786  -0.229620
4  C_ID_000183fdda  -6.590778

In [56]:
his = histoy.groupby('card_id')['purchase_amount'].agg('sum').reset_index()
his.columns = ['card_id', 'purch']

his.head(5)

           card_id      purch
0  C_ID_00007093c1 -76.845041
1  C_ID_0001238066 -72.447201
2  C_ID_0001506ef0 -34.601879
3  C_ID_0001793786 -36.786013
4  C_ID_000183fdda -68.837938

In [57]:
test_df = pd.merge(test, new, how='left', on='card_id')
test_df = pd.merge(test_df, his, how='left', on='card_id')

In [58]:
test_df.head(5)

,first_active_month,card_id,feature_1,feature_2,feature_3,purch_x,purch_y
0,2017-04,C_ID_0ab67a22ab,3,3,1,-1.777156,-40.733733
1,2017-01,C_ID_130fd0cbdd,2,3,0,-5.944698,-49.136513
2,2017-08,C_ID_b709037bc5,5,1,1,0.180138,4.528840
3,2017-12,C_ID_d27d835a9f,2,1,0,-5.743674,-13.690715
4,2015-12,C_ID_2b5e3df5c2,5,1,1,12.064997,25.139384

In [59]:
test_df['target'] = test_df['purch_x'] / test_df['purch_y']
test_df.head(5)

,first_active_month,card_id,feature_1,feature_2,feature_3,purch_x,purch_y,target
0,2017-04,C_ID_0ab67a22ab,3,3,1,-1.777156,-40.733733,0.043629
1,2017-01,C_ID_130fd0cbdd,2,3,0,-5.944698,-49.136513,0.120983
2,2017-08,C_ID_b709037bc5,5,1,1,0.180138,4.528840,0.039776
3,2017-12,C_ID_d27d835a9f,2,1,0,-5.743674,-13.690715,0.419531
4,2015-12,C_ID_2b5e3df5c2,5,1,1,12.064997,25.139384,0.479924

In [60]:
test_df['target'] = test_df['target'].fillna(test_df['target'].mean())

In [61]:
pd.DataFrame({'card_id': test_df['card_id'], 'target': test_df['target']}).to_csv('lol_sub.csv', index=False)

In [54]:
test_df

,first_active_month,card_id,feature_1,feature_2,feature_3,purch_x,purch_y,target
0,2017-04,C_ID_0ab67a22ab,3,3,1,-0.592385,-0.599025,0.988915
1,2017-01,C_ID_130fd0cbdd,2,3,0,-0.660522,-0.629955,1.048522
2,2017-08,C_ID_b709037bc5,5,1,1,0.090069,0.348372,0.258542
3,2017-12,C_ID_d27d835a9f,2,1,0,-0.574367,-0.526566,1.090780
4,2015-12,C_ID_2b5e3df5c2,5,1,1,2.010833,0.228540,8.798609
5,2017-07,C_ID_5814b4f13c,5,1,1,-0.175900,-0.052060,3.378782
6,2017-10,C_ID_a1b3c75277,1,2,0,-0.479054,-0.387725,1.235549
7,2017-02,C_ID_f7cada36d3,3,1,1,NaN,-0.689928,1.079419
8,2017-07,C_ID_9d2bc8dfc4,4,3,0,-0.064704,-0.480564,0.134642
9,2016-03,C_ID_6d8dba8475,5,1,1,-0.669384,-0.612941,1.092086
10,2017-03,C_ID_4859ac9ed5,5,2,1,-0.687030,-0.658849,1.042774
11,2017-10,C_ID_0e281e8ad6,3,2,1,-0.720191,-0.715287,1.006856
12,2016-04,C_ID_8375dfdaa2,2,2,0,-0.691836,-0.638662,1.083258
13,2016-12,C_ID_79d149c008,4,1,0,-0.566973,-0.671973,0.843744
14,2016-08,C_ID_7f1041e8e1,5,1,1,-0.716855,0.770372,-0.930530
15,2017-11,C_ID_f72513589e,2,3,0,-0.644731,-0.052967,12.172299
16,2017-12,C_ID_a7f2d6984e,4,2,0,-0.607116,-0.269869,2.249673
17,2017-09,C_ID_15489b42d3,4,3,0,-0.593718,-0.581644,1.020758
18,2017-11,C_ID_e457bbd71d,3,3,1,-0.671309,-0.676619,0.992153
19,2017-01,C_ID_3f74e10c7e,2,1,0,-0.701873,-0.705080,0.995452
20,2016-10,C_ID_48243da9c4,3,3,1,-0.653758,-0.671542,0.973518
21,2017-06,C_ID_7ea1fcf117,2,1,0,-0.361343,-0.642015,0.562826
22,2017-01,C_ID_22e4a47c72,4,1,0,NaN,-0.628333,1.079419
23,2017-09,C_ID_5d30729184,5,1,1,-0.598005,-0.544790,1.097680
24,2016-05,C_ID_b54cfad8b2,2,2,0,-0.596643,-0.697143,0.855840
25,2013-03,C_ID_4b82e26faa,3,1,1,-0.636703,-0.604459,1.053344
26,2016-04,C_ID_60a453531a,3,2,1,0.049497,-0.641340,-0.077178
27,2017-01,C_ID_0c9315feec,3,2,1,-0.701069,-0.696203,1.006990
28,2017-07,C_ID_1e28804d36,2,2,0,-0.619623,-0.418460,1.480720
29,2017-01,C_ID_68de79f7e2,3,2,1,-0.651214,-0.711013,0.915896
...,...,...,...,...,...,...,...,...
123593,2016-07,C_ID_cd42a5db89,2,2,0,-0.592757,-0.660766,0.897075
123594,2017-08,C_ID_715b9a183d,3,2,1,-0.674351,-0.661096,1.020050
123595,2017-11,C_ID_9b25df3309,2,2,0,-0.703486,-0.687154,1.023767
123596,2017-02,C_ID_043b3c2ccd,3,2,1,NaN,-0.727966,1.079419
123597,2017-01,C_ID_7685eae7b2,3,2,1,-0.706967,-0.720692,0.980956
123598,2017-11,C_ID_7ee1a21a95,4,1,0,-0.411686,-0.545686,0.754438
123599,2017-09,C_ID_2bf12fed6b,2,3,0,-0.598078,-0.559791,1.068394
123600,2016-12,C_ID_2932a6ea37,1,3,0,-0.527694,-0.522650,1.009650
123601,2017-09,C_ID_cc33d0d508,2,1,0,-0.282021,-0.666776,0.422962
123602,2017-01,C_ID_8852708dcb,4,3,0,-0.644319,-0.572501,1.125446
123603,2017-11,C_ID_c3e88ef62d,1,1,0,-0.640336,-0.598157,1.070515
123604,2017-10,C_ID_650557248c,2,1,0,-0.321252,-0.463134,0.693648
123605,2017-05,C_ID_f14af9cb56,1,1,0,-0.405451,-0.486030,0.834209
123606,2017-07,C_ID_068dcf31e8,5,1,1,-0.391218,0.521438,-0.750268
123607,2017-12,C_ID_6659f4625a,3,2,1,-0.707899,-0.696946,1.015715
123608,2016-12,C_ID_dc842bba27,3,2,1,-0.654178,-0.652408,1.002713
123609,2016-12,C_ID_bd625edce0,3,3,1,-0.717989,-0.628545,1.142304
123610,2017-05,C_ID_278446cc2f,3,3,1,-0.688868,-0.551558,1.248949
123611,2016-08,C_ID_ad358eb92e,5,2,1,0.665073,-0.522126,-1.273779
123612,2016-04,C_ID_7d9bcec574,3,2,1,-0.604577,-0.709905,0.851630
123613,2015-11,C_ID_b588b35e15,3,3,1,-0.740897,-0.607496,1.219593
123614,2017-01,C_ID_7147e348c3,5,2,1,-0.596628,0.119077,-5.010432
123615,2014-12,C_ID_727d3ec5da,5,1,1,-0.055688,-0.195756,0.284478
123616,2017-05,C_ID_107d93e20c,4,1,0,NaN,-0.536897,1.079419
123617,2016-10,C_ID_0e74bd4966,3,2,1,-0.703834,-0.693708,1.014597
123618,2017-10,C_ID_7a239d2eda,2,2,0,NaN,-0.676778,1.079419
123619,2017-09,C_ID_75ace375ae,3,1,1,-0.664675,-0.702088,0.946712
123620,2016-09,C_ID_21d56d950c,5,1,1,NaN,-0.177938,1.079419
123621,2017-06,C_ID_6c46fc5a9d,2,1,0,-0.629981,-0.631026,0.998344
123622,2016-10,C_ID_87e7979a5f,5,1,1,-0.498970,-0.602719,0.827865